@import "tailwindcss";

:root {
  --background: #247c6d;
  --foreground: #bf988a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031c26;
    --foreground: #bf988a;
    --background2: #247c6d;
  }
}

body {
  background-image: url('/bgfade.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
